---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';
import AllPostsButton from '../../components/AllPostsButton.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<style>
  #page-title {
    margin-bottom: 2rem;
  }
  #tag-name {
    color: var(--color-accent-orange);
  }
  #list-of-links {
    margin-bottom: 5rem;
  }
</style>

<BaseLayout pageTitle={tag}>
  <h2 id="page-title">Posts tagged with <span id="tag-name">{tag}</span></h2>
  <ul id="list-of-links">
    {
      posts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
          showTags={false}
        />
      ))
    }
  </ul>
  <AllPostsButton />
</BaseLayout>
