---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('posts');
const pageTitle = 'Blog';

// Sort posts in reverse chronological order
allPosts.sort(
  (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
);
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="page-title">{pageTitle}</h1>
  <h2>Recent posts</h2>
  <hr />
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost
          url={`/posts/${post.slug}/`}
          title={post.data.title}
          pubDate={post.data.pubDate}
          tags={post.data.tags}
        />
      ))
    }
  </ul>
</BaseLayout>
