---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('posts');
const pageTitle = 'Home';

// Sort posts in reverse chronological order
allPosts.sort(
  (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
);

const postsAmount = 4;
---

<style>
  #welcome-section {
    /* margin-top: 8rem; */
    /* margin-bottom: 4rem; */
  }
  #welcome-message {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #recent-posts {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  #all-posts {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    margin-top: 4rem;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section id="welcome-section">
    <h3>Welcome to my personal website!</h3>
    <p id="welcome-message">
      My name is <a href="/about/">Mauro Di Ianni</a>. Former motion designer,
      currently working my way into web development. Small web advocate, Linux
      enthusiast, music and art lover. <br /><br /> See what I'm doing
      <a href="/now/">Now</a> or read my latest ramblings on the <a
        href="/blog/">Blog</a
      >.
    </p>
  </section>
  <section id="recent-posts">
    <h3>Recent Posts</h3>
    <hr />
    <ul>
      {
        allPosts
          .slice(0, postsAmount)
          .map((post) => (
            <BlogPost
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={post.data.pubDate}
              tags={post.data.tags}
            />
          ))
      }
    </ul>
    <a id="all-posts" href="/blog/">All posts</a>
  </section>
</BaseLayout>
