---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection('posts');
const pageTitle = 'Home';

// Sort posts in reverse chronological order
allPosts.sort(
  (a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate),
);

const postsAmount = 4;
---

<style>
  #welcome-title {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  #welcome-message {
    margin-bottom: 4rem;
  }

  /* #welcome-message a { */
  /*   text-decoration-thickness: 2px; */
  /* } */

  #recent-posts {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  #recent-posts a {
    text-decoration: none;
  }

  #recent-posts-title {
    border-bottom: 1px solid var(--dark-bg);
    margin-bottom: 1rem;
  }

  #all-posts {
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--dark-bg);
    color: var(--light-text);
    text-decoration: none;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section id="welcome-section">
    <h3 id="welcome-title">Welcome to my personal website!</h3>
    <p id="welcome-message">
      My name is <a href="/about/">Mauro Di Ianni</a>. Former motion designer,
      currently working my way into web development. Small web advocate, Linux
      enthusiast, music and art lover. <br /><br /> See what I'm doing
      <a href="/now/">Now</a> or read my latest ramblings on the <a
        href="/blog/">Blog</a
      >.
    </p>
  </section>
  <section id="recent-posts">
    <h3 id="recent-posts-title">Recent Posts</h3>
    <ul>
      {
        allPosts
          .slice(0, postsAmount)
          .map((post) => (
            <BlogPost
              url={`/posts/${post.slug}/`}
              title={post.data.title}
              pubDate={post.data.pubDate}
              tags={post.data.tags}
            />
          ))
      }
    </ul>
  </section>
  <a id="all-posts" href="/blog/">View all posts</a>
</BaseLayout>
