---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
// import { Content as LatestPost } from '../content/now/2024-05-23-now.md';
const allPosts = await getCollection('now');
const pageTitle = 'Now';

// Sort posts in reverse chronological order
allPosts.sort(
  (a, b) =>
    Date.parse(String(b.data.pubDate)) - Date.parse(String(a.data.pubDate)),
);
const latestNow = allPosts[0];
const allPostsMinusLatest = allPosts.slice(1);
const { Content } = await latestNow.render();
---

<style>
  #previous-updates {
    border-top: solid 1px var(--dark-text);
  }

  #previous-updates-title {
    margin-bottom: 2rem;
  }

  #now-explainer {
    padding: 1rem 0;
    border-bottom: solid 1px var(--dark-text);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h1 class="page-title">{pageTitle}</h1>
  <p class="italic-text" id="now-explainer">
    To replace the social media updates I keep this page inspired by <a
      href="http://sivers.org">Derek Sivers</a
    >
    and the <a href="https://nownownow.com/about">/now page movement</a>.
  </p>
  <Content />
  <div id="previous-updates">
    <h2 id="previous-updates-title">Previous updates</h2>
    <ul>
      {
        allPostsMinusLatest.map((post) => (
          <BlogPost
            url={`/nows/${post.slug}/`}
            title={post.data.title}
            pubDate={post.data.pubDate}
            tags={post.data.tags}
            showTags={false}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
