---
const { url, title, pubDate, description, tags } = Astro.props;
const options = { day: 'numeric', month: 'short', year: 'numeric' };
const formattedDate = pubDate.toLocaleDateString('en-GB', options);

const maxTitleLength = 50; // Adjust the max length as needed

function truncateText(text, maxLength) {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + '...';
  }
  return text;
}

const truncatedTitle = truncateText(title, maxTitleLength);
---

<style>
  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .post-date {
    font-size: smaller;
    font-weight: bold;
  }


</style>

<li>
  <p class="post-date">{formattedDate}</p>
  <a href={url}>{truncatedTitle}</a>
  <div class="tags">
    {tags.map((tag) => (
    <p><a href=`/tags/${tag}`>{tag}</a></p>
      ))}
  </div>
</li>
