---
const { url, title, pubDate, description, tags } = Astro.props;
const options = { day: 'numeric', month: 'short', year: 'numeric' };
const formattedDate = pubDate.toLocaleDateString('en-GB', options);

const maxTitleLength = 50; // Adjust the max length as needed

function truncateText(text, maxLength) {
  if (text.length > maxLength) {
    return text.slice(0, maxLength) + '...';
  }
  return text;
}

const truncatedTitle = truncateText(title, maxTitleLength);
---

<style>
  li {
    /* width: max-content; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: 1px dashed var(--main-text-color);
  }
  li:hover {

    border-bottom: 1px solid var(--main-text-color);
  }

  .post-date {
    font-size: smaller;
    font-weight: bold;
  }
  .tags a {
    color: var(--color-green);
  }
  .tags a:hover {
    color: var(--color-yellow);
  }
</style>

<li>
  <p class="post-date">{formattedDate}</p>
  <a href={url}>{truncatedTitle}</a>
  <div class="tags visually-hidden">
    {tags.map((tag) => (
    <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>
      ))}
  </div>
</li>
