---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const options = { weekday:"long", day: 'numeric', month: 'long', year: 'numeric' };
let formattedDate = frontmatter.pubDate.toLocaleDateString('en-GB', options);
// Insert comma after weekday name
formattedDate = formattedDate.replace(/^(\w+)(\s)/, '$1,$2');
---

<style>
  .post-title {
    font-size: 2rem;
  }

  .post-date {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* gap: 1rem; */
    margin-bottom: 2rem;

  }

  @media (max-width: 799px) {
    .post-title {
      font-size: 1rem;
    }
  }

</style>

<BaseLayout pageTitle={frontmatter.title}>
  <header>
  <div class="post-title">
    <h1>{frontmatter.title}</h1>
  </div>
  <div class="post-meta">
  <p class="post-date">{formattedDate}</p>
  <!-- <p><em>{frontmatter.description}</em></p> -->

  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
    <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>
      ))}
  </div>
  </div>
  </header>
  <article>
  <slot />
  </article>
</BaseLayout>
