---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<style>
  .post-title {
    font-size: 2rem;
  }

  .post-date {
    font-style: italic;
    font-size: 1.1rem;
  }

  .post-meta {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 4rem;
  }

  @media (max-width: 799px) {
    .post-title {
      font-size: 1.3rem;
    }
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="post-title">
    <h1>{frontmatter.title}</h1>
  </div>
  <div class="post-meta">
  <p class="post-date">{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <!-- <p><em>{frontmatter.description}</em></p> -->

  <div class="tags">
    {frontmatter.tags.map((tag) => (
    <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>
      ))}
  </div>
  </div>
  <slot />
</BaseLayout>
