---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<style>
  .tags {
    display: flex;
  }

  .tag {
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--darker-bg-color);
    border-radius: 4px;
    margin: .5rem;
    padding: .3rem .5rem .3rem .5rem;
  }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>

  <div class="tags">
    {frontmatter.tags.map((tag) => (
    <p class="tag"><a href=`/tags/${tag}`>{tag}</a></p>
      ))}
  </div>
  <slot />
</BaseLayout>
